<html>

<body>
    <h1>Company Logo Creater</h1>
    <p>Following are the company details:</p>
    <br> <b>Company ID: </b><input type="text" name="FirstName" id="companyId" value="{{ companyDetails.companyId}}">
    <br> <b>Company Name: </b><input type="text" name="FirstName" id="companyName" value="{{ companyDetails.companyName}}">
    <br> <b>Company Logo: </b><input type="text" name="FirstName" id="companyLogo" value="{{ companyDetails.companyLogo}}">
    <br><button onclick="cancel()">Cancel</button>
    <script>
        function cancel() {
            location.href = "../../../../";
        }
    </script>
</body>

</html>